<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{fragments/head :: head}"></th:block>

<body>
	<div class="site-wrap">
		<div th:replace="~{fragments/header :: header}"></div>

		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0">
						<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black">Editar producto</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black">Información del Producto</h2>
					</div>

					<div class="col-md-7">
						<form action="/updateprod" method="post" th:object="${producto}">
							<div class="p-3 border">
								<div class="form-group row">
									<div class="col-md-12">
										<label for="id" class="text-black"> Producto ID <span
											class="text-danger">*</span></label> <input name="idprod" type="text"
											class="form-control" id="id" th:field="*{idprod}" readonly>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="image" class="text-black"> Imagen <span
											class="text-danger">*</span></label> <input name="product-image"
											type="file" class="form-control" id="image">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="price" class="text-black"> Precio <span
											class="text-danger">*</span></label> <input name="precio"
											type="number" step="0.01" class="form-control" id="price"
											th:field="*{precio}">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="description" class="text-black">
											Descripción <span class="text-danger">*</span>
										</label>
										<textarea name="descripcion" id="description" cols="30"
											rows="7" class="form-control" th:field="*{descripcion}"></textarea>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="stock" class="text-black"> Stock <span
											class="text-danger">*</span></label> <input name="stock"
											type="number" class="form-control" id="stock"
											th:field="*{stock}">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="category" class="text-black"> Categoría <span
											class="text-danger">*</span></label> <select name="idcategoria"
											id="category" class="form-control" th:field="*{idcategoria}">
											<option value="0">Seleccione...</option>
											<option th:each="c : ${lstCategorias}" th:value="${c.id}"
												th:text="${c.descripcion}"
												th:selected="${producto.objCategoria != null and c.id == producto.objCategoria.id}"></option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-12">
										<label for="estado" class="text-black"> Estado <span
											class="text-danger">*</span></label> <select name="estado"
											id="estado" class="form-control" th:field="*{estado}">
											<option value="0">Seleccione...</option>
											<option th:each="e : ${lstEstados}" th:value="${e.idestado}"
												th:text="${e.descripcion}"
												th:selected="${producto.estado == e.idestado}"></option>
										</select>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-lg-12">
										<input type="submit" class="btn btn-primary btn-lg btn-block"
											value="Editar Producto"> 
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-5 ml-auto">
						<div class="p-3 border">
							<img alt="Imagen del Producto"
								th:src="@{/static/images/productos/{id}.png(id=${producto.idprod})}"
								width="100%">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="~{fragments/footer :: footer}"></div>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
