<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>

<body>
	<div class="site-wrap">
		<div th:replace="fragments/header :: header"></div>

		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0">
						<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black" th:text="${producto.descripcion}">Nombre
							del Producto</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img th:src="@{/images/productos/}+${producto.idprod}+@{.png}"
							alt="Image" class="img-fluid" width="400px">
					</div>

					<div class="col-md-6">
						<label th:text="${producto.idprod}">Código del Producto</label>
						<h2 class="text-black" th:text="${producto.descripcion}">Descripción
							del Producto</h2>

						<p>
							<strong class="text-primary h4" th:text="${producto.precio}">Precio
								del Producto</strong>
						</p>

						<form action="/carrito/agregar" method="post">
							<input type="hidden" name="idprod" th:value="${producto.idprod}" />
							<!-- Campo oculto para el ID del producto -->
							<div class="mb-3">
								<div class="input-group mb-3"
									style="max-width: 200px; display: flex; justify-content: center;">

									<div class="col" style="width: 100%">
										<input type="number" class="form-control text-center"
											id="quantity" name="cantidad" min="1"
											th:attr="max=${producto.stock}" placeholder="0" required
											style="border: 1px solid purple; width: 100%">
									</div>

									<label for="quantity" class="form-label text-black"
										style="text-align: center"> Productos disponibles: <span
										th:text="${producto.stock}">Cantidad en Stock</span>
									</label>
								</div>
							</div>

							<p>
								<button type="submit" class="buy-now btn btn-sm btn-primary">
									Añadir a la cesta</button>
							</p>
						</form>

					</div>
				</div>

				<!-- Alerta de stock bajo -->
				<div class="row justify-content-center mt-3">
					<div th:if="${alertaStock}"
						class="alert alert-danger d-flex justify-content-center"
						role="alert" data-aos="fade-up"
						style="max-width: 800px; min-width: 600px">
						<strong class="font-weight-bold"> Solo quedan <span
							th:text="${producto.stock}"></span> disponible en inventario!
						</strong>
					</div>
				</div>

			</div>
		</div>

		<div th:replace="fragments/featured-products :: featured"></div>

		<div th:replace="fragments/footer :: footer"></div>
	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery-ui.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
