<!DOCTYPE html>
<html lang="en">
<jsp:include page="templates/head.jsp" />

<body>
	<div class="site-wrap">
		<jsp:include page="templates/header.jsp" />

		<div class="bg-light py-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-0">
						<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
							class="text-black">${product.name}</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="site-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="static/images/productos/${p.codigo}.png" alt="Image"
							class="img-fluid" width="400px">
					</div>

					<div class="col-md-6">

						<label>${p.codigo}</label>
						<h2 class="text-black">${p.descripcion}</h2>



						<p>
							<strong class="text-primary h4">${p.precio}</strong>
						</p>

						<form action="agregarCarro" method="post">
							<div class="mb-3">
								<div class="input-group mb-3"
									style="max-width: 200px; display: flex; justify-content: center;">

									<div class="col" style="width: 100%">
										<input type="number" class="form-control text-center"
										    id="quantity"
											name="cantidad" class="form-control" min="1"
											max="${p.stock}" placeholder="0" required
											style="border: 1px solid purple; width: 100%">
									</div>

									<label for="quantity" class="form-label text-black"
										style="text-align: center"> Productos disponibles:
										${p.stock} </label>
								</div>
							</div>

							<p>
								<button type="submit" class="buy-now btn btn-sm btn-primary">
									Añadir a la cesta</button>
							</p>
						</form>
					</div>
				</div>

				<c:if test="${alert}">
					<div class="row justify-content-center mt-3">
						<div class="alert alert-danger d-flex justify-content-center"
							role="alert" data-aos="fade-up"
							style="max-width: 800px; min-width: 600px">
							<strong class="font-weight-bold"> Solo quedan ${p.stock}
								disponible en inventario! </strong>
						</div>
					</div>
				</c:if>

			</div>
		</div>

		<jsp:include page="templates/featured-products.jsp" />

		<jsp:include page="templates/footer.jsp" />
	</div>

	<jsp:include page="templates/scripts.jsp" />
</body>
</html>