<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>

<body>
    <div class="site-wrap">
        <header th:insert="fragments/header :: header"></header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a href="/">Home</a>
                        <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Gracias</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-check_circle display-3 text-success"></span>
                        <h2 class="display-3 text-black">¡Gracias!</h2>
                        <p class="lead mb-5">Su pedido se completó con éxito.</p>
                        <p>
                            <a href="shop.jsp" class="btn btn-sm btn-primary">Volver a la tienda</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer th:insert="fragments/footer :: footer"></footer>
    </div>

    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>
